#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
oops-plugin-framework/
oops-plugin-cinestation/
oops_framework_remote/
cocos-mcp-server/
library/
temp/
local/
build/
profiles/
native/
node_modules/
#//////////////////////////
# NPM
#//////////////////////////
# node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
# .vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/